body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(242, 239, 229);
    color: rgb(50, 50, 50);
}

header {
    background-color: rgb(180, 180, 184);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: rgb(50, 50, 50);
}

h3 {
    color: rgb(50, 50, 50);
    border-bottom: 2px solid rgb(199, 200, 204);
    padding-bottom: 2px;
}
header h2 {
    margin: 0;
    font-size: 1.2em;
    color: rgb(80, 80, 80);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.layer_overview {
    background: rgb(227, 225, 217);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden; /* Ensures content doesn't overflow */
    max-width: 100%; /* Ensures the container doesn't exceed the screen width */
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.layer {
    background: rgb(227, 225, 217);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background 0.3s ease, max-height 0.3s ease;
    max-height: 71px; /* Adjust this height to your desired unexpanded size */
    overflow: hidden;
}
.layer:hover {
    /* Background color on hover */
    background-color:  rgb(226, 218, 186);
}

.layer h3 {
    margin-top: 0;
}

.layer .icons {
    display: flex;
    gap: 10px;
}

.layer .icons img {
    width: 40px;
    height: 40px;
}

.layer ul {
    display: none;
    margin-top: 10px;
}

.layer.expanded ul {
    display: block;
}

.layer.expanded {
    background: rgb(226, 218, 186);
    max-height: none;
}

.arch-diagram {
    max-width: 100%;
    max-height: 400px; /* Adjust this height to your desired shorter size */
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(199, 200, 204);
}

.styled-link {
    font-weight: bold;
    color: rgb(139, 118, 37); /* You can choose any color */
    text-decoration: underline;
}
.styled-link:hover {
    color: rgb(59, 57, 53); /* Darker shade for hover effect */
}
